@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

.SearchDivContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SearchDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.SearchInput {
    width: 50%;
    margin-top: 5%;
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
    color: #6b5b95;
}

.SearchResultDiv {
    align-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: scroll;
    margin-top: 20px;
    width: 50%;
}